.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  width: 100%;
}

.label {
  display: block;
  font-family: var(--font-secondary);
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  color: var(--color-text);
  margin-bottom: var(--space-1);
  line-height: var(--line-height-tight);
}

.label:has(+ input:required)::after {
  content: " *";
  color: var(--color-error);
}

.error {
  display: block;
  font-family: var(--font-secondary);
  font-size: var(--text-xs);
  font-weight: var(--font-regular);
  color: var(--color-error);
  margin-top: calc(var(--space-2) * -1);
  line-height: var(--line-height-tight);
}

.formGroup:has(.error) {
  gap: var(--space-2);
}
